@using Newtonsoft.Json;
@{
    var jsonData = ViewBag.JsonData;
    var dataObject = JsonConvert.DeserializeObject<List<dynamic>>(jsonData);


    var EditOfficer = JsonConvert.DeserializeObject(ViewBag.EditOfficer);
}

@{
    ViewBag.Title = "เจ้าหน้าที่ผู้ดูแลระบบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .add-button {
        background-color: #4CAF50; /* สีพื้นหลังของปุ่ม */
        color: white; /* สีข้อความในปุ่ม */
        padding: 10px 20px; /* ขนาดของปุ่ม */
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    a {
        text-decoration: none; /* ลบเส้นใต้ของลิงก์ */
        color: inherit; /* ใช้สีข้อความเท่ากับสีที่กำหนดในตัวแปรแวดล้อม */
    }

    .btn {
        /* ปรับแต่งสีพื้นหลัง */
        /*background-color: #ff9900;*/
        /* ปรับแต่งสีตัวอักษร */
        color: #ffffff;
        /* ปรับแต่งขอบ */
        /*border: 2px solid #ff9900;*/
        /* ปรับแต่งระยะห่างของขอบ */
        padding: 7px 14px;
        /* ปรับแต่งรูปแบบตัวอักษร */
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-decoration: none;
        /* เพิ่มเอฟเฟกต์เมื่อเม้าส์ไปวางบนปุ่ม */
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #ffffff;
            color: #ff9900;
        }

    /* ปรับแต่งรูปแบบไอคอน */
    .fa-edit {
        /* ปรับขนาดไอคอน */
        font-size: 14px;
        /* ปรับตำแหน่งไอคอน */
        margin-right: 5px;
    }

    /* ปรับแต่งรูปแบบไอคอน */
    .bi-trash {
        /* ปรับขนาดไอคอน */
        font-size: 14px;
        /* ปรับตำแหน่งไอคอน */
        margin-right: 5px;
    }

    .waves-effect {
        /* เพิ่มเอฟเฟกต์คลื่น */
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }

        .waves-effect:after {
            /* สร้างส่วนผสานคลื่น */
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
            opacity: 0;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

    .waves-light:hover .waves-effect:after {
        /* ปรับเอฟเฟกต์คลื่นเมื่อเม้าส์ไปวาง */
        width: 200%;
        height: 200%;
        opacity: 1;
        transition: width 0.5s ease-out, height 0.5s ease-out, opacity 1s ease-out;
    }

    .bg-green {
        background-color: green;
    }

    .bg-red {
        background-color: red;
    }
</style>


<br />
<h3 class="text-center"></h3>
<div class="row">
    <div class="col-md-12 card">
        <div>
            <br />
            <a class="btn" style="color: white; background-color: #4CAF50; padding: 10px 20px" asp-action="Create" asp-controller="Officer"><i class="fas fa-plus"></i> เพิ่มเจ้าหน้าที่ผู้ดูแลระบบ</a>
            <br />
            <br />
        </div> @*Button Add*@
        <div class="table-responsive">
            <table class="display table table-striped table-bordered" id="dataTable" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center" width="5%">#</th>
                        <th class="text-center" hidden>Id</th>
                        <th class="text-center" width="12%">ชื่อผู้ใช้</th>
                        <th class="text-center" width="12%">ชื่อ</th>
                        <th class="text-center" width="12%">นามสกุล</th>
                        <th class="text-center">เพศ</th>
                        <th class="text-center">เบอร์โทรศัพท์</th>
                        <th class="text-center">บทบาท</th>
                        <th class="text-center">สถานะ</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in dataObject)
                    {
                        i++;
                        <tr>
                            <td class="text-center">@i</td>
                            <td class="text-center" hidden>@item.Id</td>
                            <td class="text-center">@item.Username</td>
                            <td class="text-center">@item.Firstname</td>
                            <td class="text-center">@item.Surname</td>
                            <td class="text-center">@item.SexName</td>
                            <td class="text-center">@item.Phone</td>
                            <td class="text-center">@item.Role</td>
                            @if (item.Status == 1)
                            {
                                <td class="text-center"><p class=" bg-success text-white">เปิดใช้งาน</p></td>
                            }
                            else
                            {
                                <td class="text-center"><p class=" bg-danger text-white">ปิดใช้งาน</p></td>
                            }
                            <td class="text-center">
                                @*<a class="btn btn-warning waves-effect waves-light" title="แก้ไข" onclick="GetEditOfficer('@item.Id')"><i class="fa fa-edit"></i> แก้ไข</a>*@
                                <a class="btn btn-warning waves-effect waves-light edit-officer" title="แก้ไข" data-id="@item.Id"><i class="fa fa-edit"></i> แก้ไข</a>
                                &nbsp
                                <a class="btn btn-danger waves-effect waves-light" title="ลบ" onclick="GetDeleteOfficer('@item.Id')"><i class="bi bi-trash"></i> ลบ</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Modal*@
<!-- HTML Modal -->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- เนื้อหาของ Modal จะถูกสร้างและแทรกผ่าน jQuery -->
            <div class="modal-header">
                แก้ไขข้อมูล
            </div>

            <label>TEST</label>
            <input id="officerId" name="officerId"  />

            <label>TEST</label>
            <input id="Firstname" name="Firstname"  />

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

@* End Modal*@


@section Scripts {
    <script>

        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                dom: 'Bfrtip', // Add the button container to the DOM
                buttons: [
                    'csv', // Export as CSV
                    'excel' // Export as Excel
                ]
            });

            $(document).on('click', '.edit-officer', function () {
                var officerId = $(this).data('id');
                
                $.ajax({
                    url: '/Officer/GetDataOfficer', // URL ของ Action ที่ต้องการเรียกใน Controller
                    type: 'GET',
                    data: { officerId: officerId }, // ส่งพารามิเตอร์ officerId ไปยัง Controller
                    success: function (response) {
                        // การดำเนินการเมื่อคอนทรอลเลอร์ตอบกลับสำเร็จ
                        console.log('สำเร็จ');

                        $("#officerId").val(response.data.Officer_Id);
                        $("#Firstname").val(response.data.Firstname);
                        console.log(response.data.Firstname)
                        //$('#editModal .modal-content').html(modalContent);
                        $('#editModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        // การดำเนินการเมื่อเกิดข้อผิดพลาดในการเรียกคอนทรอลเลอร์
                        console.error('เกิดข้อผิดพลาด');
                        console.log(xhr.responseText);
                    }
                });

            });



        });


        function GetEditOfficer(id) {
            alert('TEST ' + id)

        }

        function GetDeleteOfficer(id) {
            alert('คุณคลิกที่ปุ่มลบไอเท็มรหัส ' + id);

        }

    </script>
}
